name: CI Bad
on:
  pull_request:
    branches:
      - main
jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: Run slow end-to-end tests
        run: ./e2e_tests.sh
  deploy:
    runs-on: ubuntu-latest
    needs: test
    if: github.event_name == 'pull_request'
    steps:
      - name: Deploy to staging
        run: ./deploy.sh staging